[submodule "refs/effect-smol"]
	path = refs/effect-smol
	url = https://github.com/Effect-TS/effect-smol.git
	branch = main
[submodule "refs/effect"]
	path = refs/effect
	url = https://github.com/Effect-TS/effect.git
	branch = main
